*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer .card {
    height: 300px;
    width: 260px;
    border: 2px solid black;
}


.outer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}