.container1{
    height: 300px;
    width: 400px;
    border: 3px solid red;
}

.container1 > .box1{
    height: 50px;
    width: 50px;
    background-color: rgb(252, 252, 252);
    display: flex;
}
.container1 > .box2{
    height: 50px;
    width: 50px;
    background-color: black;
    display: flex;
    
}
.container1 >.box3{
    height: 50px;
    width: 50px;
    background-color: rgb(248, 247, 245);
    display: flex;
}
.container1 >.box4{
    height: 50px;
    width: 50px;
    background-color: rgb(3, 3, 3);
    display: flex;
}
.container1 >.box5{
    height: 50px;
    width: 50px;
    background-color: rgb(250, 248, 246);
    display: flex;
}
.container1 >.box6{
    height: 50px;
    width: 50px;
    background-color: rgb(10, 10, 10);
    display: flex;
}
.container1 >.box7{
    height: 50px;
    width: 50px;
    background-color: rgb(253, 252, 251);
    display: flex;
}
.container1 >.box8{
    height: 50px;
    width: 50px;
    background-color: rgb(10, 10, 10);
    display: inline-block;
}